* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
  background-color: #f4f6f64f;
  position: sticky;
  top: 0;
}

.logo {
  cursor: pointer;
  width: 300px;
  position: relative;
  bottom: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0;
}

.navbar ul li {
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: #20292b;
  padding: 8px 25px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #97D5D8;
  left: 50%;
  bottom: -10px;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover {
  cursor: pointer;
  color: #97D5D8;
}

.navbar ul li a:hover::after {
  cursor: pointer;
  width: 100%;
  left: 0;
}




/* Home Section */
#home,
#home-vision,
#home-contacts,
#home-portfolio {
  display: flex;
  flex-direction: column;
  background-color: #f4f6f64f;
  height: 800px;
  justify-content:flex-start;
  align-items:center;
  color:#20292b;

}

#home::before,
#home-vision::before,
#home-contacts::before,
#home-portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: .9;
}

#home::before {
  background: url('/assets/img/sfondo-prova.jpg') no-repeat center center/cover;
}

#home-vision::before {
  background: url('/assets/img/lamp-blk2.png') no-repeat center center/cover;
}

#home-contacts::before {
  background: url('/assets/img/write.jpg') no-repeat center center/cover;
}

#home-portfolio::before {
  background: url('/assets/img/pen.png') no-repeat center center/cover;
}

.main {
  display: flex;
  flex-direction: column;
  /*border: 1px solid black;*/
  align-items: center;
  text-align: center;
  position: absolute;
  top: 38%;
}

.headings {
  font-family: 'Times New Roman', Times, serif;
  font-size: 34px;
  margin: 40px 0;
}

#home .headings {
  font-size: 40px;
}

#home-vision .headings {
  font-size: 45px;
}

#home-contacts .main {
  position: relative;
  top: 10%;
  font-size: 24px;
}


#home-contacts .headings {
  font-size: 45px;
}

span {
  color: #87c9cb;
}

.btn {
  padding: 10px 30px;
  background-color: transparent;
  border: 1.5px solid #20292b;
  border-radius: 8px;
  color: #20292b;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  outline: none;
  transition: .6s ease;
  position: absolute;
  top: 370px;
}

.btn:hover {
  cursor: pointer;
  background-color: #97D5D8;
  color: white;
  border: 1px solid #97D5D8;
  box-shadow: 0 0 5px #97D5D8, 0 0 10px #97D5D8, 0 0 15px #97D5D8;
  font-weight: bold;
}


/* About Section*/
#about,
#believe,
#aspect,
#about-port,
#about-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
  margin-bottom: 50px;
}


#pic,
#pic-blv,
#pic-contact {
  display: flex;
}

#pic img,
#pic-blv img,
#pic-contact img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

#intro,
#intro-contact {
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 19px;
  padding: 50px;
}

#intro p,
#intro h2,
#intro-contact h2 {
  font-weight: 500;
  margin-bottom: 40px;
  color:#20292b;
  padding: 20px;
  text-align: center;
}


/* Vision Page - Believe/Aspect Section */
#aspect {
  background-color: #E9EDED;
}

#pic-blv #intro {
  order: 2;
}

#pic-blv img {
  order: 1;
}

.mark {
  text-decoration: underline;
  font-weight: bold;
  color:#87c9cb
}

#believe .headings {
  font-size: 38px;
  text-align: left;
  padding-left: 70px;
}

#aspect .headings {
  font-size: 38px;
  text-align: right;
  padding-right: 70px;
}

#aspect #intro,
#aspect #intro p,
#aspect #intro h2 {
  text-align: right;
}

#believe #intro p,
#believe #intro h2 {
  text-align: left;
}


/* Portfolio Page */

  /* Home Section */
  #home-portfolio {
  height: 700px;
  }

  #home-portfolio::before {
  height: 800px;
  }

  #home-portfolio .main {
    position: relative;
    top: 15%;
  }

  #home-portfolio .headings {
    font-size: 45px;
  }


  /* About Section */
  #about-port {
    align-items: center;
    padding: 0;
    padding-top: 100px;
  }

  #about-port #pic {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #about-port img {
    width: 700px;
    height: 400px;
    border-radius: 8px;
    margin: 20px;
  }

  #about-port #pic p {
    font-size: 20px;
  }


/* Contact Page - About Section */
#about-contact {
  align-items: center;
  padding: 0;
  padding-top: 200px;
}

#about-contact .headings {
  font-size: 50px;
}

#about-contact img {
  width: 800px;
  height: 500px;
  border-radius: 8px;
}

#intro-contact a {
  text-decoration: none;
  color:#87c9cb;
}

#intro-contact {
  padding: 0;
}

#intro-contact p {
  text-align: center;
}

#intro-contact h2 {
  padding-top: 80px;
}

#intro-contact .hello {
  padding: 80px;
}


/* Portfolio Section */
#portfolio {
  display: flex;
  flex-direction: column;
  background-color: #E9EDED;
  align-items: center;
  padding: 20px;
  margin-bottom: 80px;
}

#portfolio .headings,
#skills .headings,
#contact .headings {
  padding-bottom: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallery img {
  width: 360px;
  height: 240px;
  margin: 10px;
}

.sub-headings {
  padding-bottom: 60px;
  font-weight: 500;
}

#portfolio a {
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 60px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color:#20292b;
  outline: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

#portfolio a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #97D5D8;
  left: 50%;
  bottom: -10px;
  transition: all 0.3s ease-in-out;
}

#portfolio a:hover {
  cursor: pointer;
  color: #97D5D8;
}

#portfolio a:hover::after {
  cursor: pointer;
  width: 100%;
  left: 0;
}



/* Skills Section */
#skills {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 80px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  border: 1px solid #20292b;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 8px;

  background: linear-gradient(to top, #97D5D8 50%, white 50%);
  background-size: 100% 200%;
  transition: all .8s;
}
                        /* From Background to Box-shadow is the code
                           for the box effect*/
.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px #97D5D8;
}

.box img {
  width : 120px;
  height: 120px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}


/* Contact Section */
#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  background-color: #E9EDED;
  color: #20292b;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
}

.input {
  padding: 12px;
  margin: 15px;
  width: 30%;
  border: none;
  outline: none;
}

#msg {
  width: 20%;
  padding: 10px;
  margin: 15px;
  border: none;
  outline: none;
}

#send {
  padding: 10px;
  width: 10%;
  margin: 40px;
  border: none;
  outline: none;
  background-color: #20292b;
  color: white;
  transition: all .5s ease;
}

#send:hover {
  cursor: pointer;
  background-color: #97D5D8;
  box-shadow: 0 0 20px #97D5D8;
}


/* Footer Section*/
footer {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.logo-foot {
  cursor: pointer;
  width: 250px;
  position: relative;
  bottom: 40px;
}

.navbar-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
  background-color: white;
  position: relative;
  top: 30px;
}

.navbar-foot ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 20px 0;
}

.navbar-foot ul li {
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
}

.navbar-foot ul li a {
  text-decoration: none;
  color: #20292b;
  padding: 40px;
  transition: all .5s ease;
}

.navbar-foot ul li a:hover {
  text-decoration: underline;
  color: #97D5D8;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social h3 {
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 16px;
  font-size: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-github {
  background: #20292b;
  color: white;
  transition: all .5s ease;
  margin: 20px;
  border-radius: 50px;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-github:hover {
  background: #97D5D8;
  color: white;
}



/* Mobile Responsive Style */
@media only screen and (max-width:400px) {

 html {
  margin: auto;
  width: 100%;
 }


  /* Navbar Section */
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }


  .logo {
    width: 200px;
    margin-top: 20px;
  }


  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;

  }

  .navbar ul li {
    padding: 10px;
  }

  .navbar ul li a {
    font-size: 18px;
   }


   /* Home Section */
   #home {
     height: 510px;
   }

   #home::before {
    height: 700px;
   }

   #home,
   #home-vision,
   #home-portfolio {
    height: 590px;
  }

   #home::before,
   #home-vision::before
   #home-portfolio::before {
     height: 800px;
   }

   #home-contacts {
     height: 490px;
   }

   #home-contacts::before {
     height: 700px;
   }
   
   #home .headings {
     font-size: 24px;
     
   }

   #home-contacts .main {
    position: relative;
    top: 2%;
    font-size: 24px;
  }

  #home-contacts .headings,
  #home-portfolio .headings {
    font-size: 38px;
  }

   .main {
    top: 35%;
  }

  .btn {
    top: 300px; 
    font-size: 12px;
  }



   /* About Section */
  #about-contact,
  #about-port {
    width: 100%;
  }

  #pic,
  #pic-blv,
  #pic-contact {
    flex-direction: column-reverse;
    align-items: center;
  }

  #believe #pic img,
  #aspect #pic-blv img {
    width: 300px;
    height: 230px;
    padding: 10px;
    border-radius: 16px;
  }

  #about-contact img,
  #about-port img {
    width: 100%;
    height: auto;
    margin: 40px 0;
  }

  #intro h2,
  #intro-contact h2 {
    text-align: center;
    padding: 10px;
    font-size: 22px;

  }

  #intro p,
  #intro-contact p {
    padding: 10px;
    font-size: 18px;
    margin: 40px;
  }

  #about .headings,
  #believe .headings {
    font-size: 38px;
    text-align: center;
    padding: 0;
    padding-bottom: 30px;
  }
  
  #believe #intro h2,
  #believe #intro p,
  #aspect #intro h2,
  #aspect #intro p {
    text-align: center;
  }


  
  /* Portfolio Section */
  .headings {
    text-align: center;
    font-size: 32px;
  }

  .sub-headings {
    text-align: center;
    font-size: 18px;
    padding-bottom: 50px;
  }

  .gallery img {
    width: 260px;
    height: 180px;
    margin: 10px;
  }


   /* Contact Section */
   .input {
    width: 80%;
  }

  #msg {
    width: 70%;
  }

  #send {
    width: 30%;
  }

}


/* Footer Section */
footer {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.logo-foot {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.navbar-foot {
  display: none;
}

.social h3 {
  padding: 30px;
  font-size: 20px;
}


/* Tablet Responsive Style */
@media only screen and (min-width:401px) and (max-width:960px) {

  html {
    margin: auto;
    width: 100%;
  }

  /* Navbar Section */
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .navbar ul {
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    padding-bottom: 30px;
  }

  .navbar ul li {
    padding: 8px;
  }

  .navbar ul li a {
    font-size: 20px;
   }
  
  
  /* Home Section */
  #home .headings {
    font-size: 28px;
    padding-top: 50px;
  }

  #home-portfolio {
    width: 100%;
  }

  #home-contacts .main {
    top: 4%;
  }
  
  #home-contacts .headings {
    font-size: 35px;
  }

  #home-vision .main {
    top: 42%;
  }
  
  
  /* About Section */
  #pic,
  #pic-blv,
  #pic-contact {
    flex-direction: column;
    align-items: center;
  }

  #intro h2,
  #intro-contact h2 {
    text-align: center;
    padding: 10px;
  }

  #intro p,
  #intro-contact p {
    padding: 10px;
    font-size: 20px;
  }

  #about .headings,
  #believe .headings,
  #aspect .headings {
    font-size: 38px;
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
  }
  
  #believe #intro,
  #aspect #intro,
  #aspect #intro p,
  #aspect #intro h2 {
    text-align: center;
  }


  /* Portfolio Section*/
  .headings {
    text-align: center;
  }

  .sub-headings {
    text-align: center;
  }

  #home-portfolio .main {
    top: 10%;
  }

  #home-portfolio {
    height: 680px;
  }

  #home-portfolio::before {
    height: 900px;
  }


  /* Contact Page */
  #home-contacts {
    height: 690px;
  }

  #home-contacts::before {
    height: 900px;
  }

  #home-contacts .headings {
    font-size: 40px;
  }
  
  .input {
    width: 60%;
  }

  #msg {
    width: 55%;
  }

  #send {
    width: 20%;
  }

  #about-contact {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }

  #about-contact img,
  #about-port img {
    width: 100%;
    height: auto;
    margin: 40px 0;
  }

  #about-contact h2 {
    padding: 50px;
  }

}

